a:link {color:#7f7f7f;}
a:visited {color:#7f7f7f;}
a:hover {color:#7f7f7f;}
a:active {color:#7f7f7f}
body {
  background-color: #ffffff;
  font-family: Candara;
}
#header {
  position: fixed;
  background: #ffffff;
  top: 0vw;
  right: 1.5vw;
  left: 1.5vw;
  z-index: 1;
}
#header-color {
  background-color: #22938c;
  width: 20vw;
  height: 4vw;
}
#results-img {
  white-space: nowrap;
  width: 50vw;
  padding: 1vw;
}
#portrait-img {
  white-space: nowrap;
  height: 25vw;
  padding: 1vw;
}
h1 {
  font-weight: bold;
  font-family: Oswald;
  text-align: left;
  margin: 0vw;
}
h2 {
  font-family: Oswald;
  text-align: left;
  font-weight: normal;
  font-size:1.5vw;
  border-bottom: .25vw solid black;
  margin: 0vw;
  padding-bottom: 1vw;}
h3 {
  font-size: 180%;
  font-family: Oswald;
  font-weight: normal;
  text-align: center;
  margin-top: 5vw;
  margin-top: 12vw;
}
h4 {
  font-size: 180%;
  font-weight: normal;
  font-family: Oswald;
  color: #22938c;
  text-align: center;
  margin-bottom: 1vw;
}
.project-img {
  white-space: nowrap;
  width: 20vw;
}
.inline-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1vw;
}
.img-div {
  white-space: nowrap;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: .5vw;
  width: 15vw;
  height: 15vw;
  position: relative;
  display: flex;
}
.img-div .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.img-div:hover .img-top {
  display: inline;
  padding: .5vw;
  width: 15vw;
  height: 15vw;
}
.inline-div-noimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 2vw;
  padding-left: 25vw;
  padding-right: 25vw;
}
.bio-text {
  position:relative;
  top:-.5vw;
  z-index: 0;
}
