a:link {color:#7f7f7f;}
a:visited {color:#7f7f7f;}
a:hover {color:#7f7f7f;}
a:active {color:#7f7f7f}
body {
  background-color: #ffffff;
  font-family: 'Candara';
}
#header {
  position: fixed;
  background: #ffffff;
  top: 0vw;
  right: 1.5vw;
  left: 1.5vw;
  z-index: 1;
}
#header-color {
  background-color: #22938c;
  width: 20vw;
  height: 4vw;
}
#portrait-img {
  white-space: nowrap;
  height: 350px;
  padding: 1vw;
}
#rug-img {
  white-space: nowrap;
  height: 230px;
  padding: .5vw;
}
#orig-img {
  white-space: nowrap;
  height: 100px;
  padding: .5vw;
}
h1 {
  font-weight: bold;
  font-family: 'Oswald';
  text-align: left;
  margin: 0px;
}
h2 {
  font-family: 'Oswald';
  text-align: left;
  font-weight: normal;
  font-size:1.5vw;
  border-bottom: 3px solid black;
  margin: 0vw;
  padding-bottom: 1vw;}
h3 {
  font-size: 180%;
  font-family: 'Oswald';
  font-weight: normal;
  text-align: center;
  margin-top: 5vw;
  margin-top: 12vw;
}
h4 {
  font-size: 180%;
  font-weight: normal;
  font-family: 'Oswald';
  color: #22938c;
  text-align: center;
  margin-bottom: 1vw;
}
.project-img {
  white-space: nowrap;
  width: 20vw;
  padding: 1vw;
}
.inline-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1vw;
}
.img-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: .5vw;
}
.inline-div-noimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 2vw;
  padding-left: 25vw;
  padding-right: 25vw;
}
.bio-text {
  position:relative;
  top:-5px;
  z-index: 0;
}
